@import 'tailwindcss';



:root {
  --color-circretered: #dc4057;
  --color-circretemokka: #eaf1cf;
  --color-background: color-mix(in oklab, var(--color-circretemokka) 40%, white 60%)
}

@theme {
  --color-circretered: var(--color-circretered);
  --color-circretemokka: var(--color-circretemokka);
  --color-background: var(--color-background);
}

.max-w-standard-div {
  max-width: calc(min(100vw, 1200px) - 20px);
  margin: 0 auto;
}

#__next {
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  background: var(--color-background);
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
  overflow-x: hidden;
}

h1,
h2 {
  font-family: 'Quicksand', sans-serif;
}

h1 {
  font-size: 3rem;
  margin: 5rem 0;
  color: var(--color-circretered);
}
h2 {
  min-width: 18rem;
  font-size: 2rem;
  opacity: 0.3;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.15rem;
}

p {
  line-height: 1.65em;
}

button {
  /* display: inline-block; */
  vertical-align: bottom;
  outline: 0;
  text-decoration: none;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  border-radius: 3px;
  /* user-select: none; */
  line-height: 2.5em;
  border: 0;
  color: var(--color-circretered);
  font-size: 1em;
  font-family: inherit;
  font-weight: 700;
  position: relative;
  transform: translateZ(0);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  transition: box-shadow 0.2s ease;
  min-height: 40px;
  padding: 0 0.8em;
  margin: 0.8rem;
  white-space: nowrap;
  width: auto;
  max-width: 200px;
}

button:hover,
button:focus {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}

main {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  /* overflow-x: hidden; */
}

footer {
  background-color: rgba(var(--color-circrete-mokka));
  padding: 3rem 0;
}
